{% extends "base.html" %} {% block main %}
<h1>Liste des auteurs</h1>
<p>Nombre d'auteurs : {{ auteurs|length }}</p>
{% if auteurs|length == 0 %}
<p>Aucun auteur trouvé.</p>
{% endif %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Nombre de livres</th>
      <th>Couverture</th>
    </tr>
  </thead>
  <tbody>
    {% for unAuteur in auteurs %}
    <tr>
      <td>{{ unAuteur.idA }}</td>
      <td>{{ unAuteur.Nom }}</td>
      <td>{{ unAuteur.livres.count() }}</td>
      {% for liv in unAuteur.livres %}
      <td><img src={{liv.url}} alt="Livre d'auteurs"/></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
