{% extends "base.html" %} {% block main %}
<h1>Liste des livres</h1>
<p>Nombre de livres : {{ livres|length }}</p>
{% if livres|length == 0 %}
<p>Aucun auteur trouvé.</p>
{% endif %}
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Prix</th>
      <th>Première de Couverture</th>
      <th>Auteur</th>
    </tr>
  </thead>
  <tbody>
    {% for liv in livres %}
    <tr>
      <td>{{ liv.idL }}</td>
      <td>{{ liv.Titre }}</td>
      <td>{{ liv.Prix }} €</td>
      <td><a href="{{ liv.Url }}"><img src="https://m.media-amazon.com/images/I/{{ liv.Img }}" alt="{{ liv.Titre }}"/> </a></td>
      <td>{{ liv.auteur.Nom }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
